{% extends "base.jinja2" %}
{% import "base/sidebar.jinja2" as sidebar %}

{% block content %}
  <div class="row">
    <div class="three columns">
      {{ sidebar.render('agents') }}
    </div>
    <div class="nine columns">
      Agents
    </div>
  </div>
{% endblock %}