{% extends "base.jinja2" %}
{% import "base/sidebar.jinja2" as sidebar %}

{% block content %}
  <div class="row">
    <div class="three columns">
      {{ sidebar.render('agents') }}
    </div>
    <div class="nine columns">
      <div class="row">
        <h5>Agents</h5>
        <div class="u-pull-right">
        <button class="button-primary" hx-trigger="click" hx-target="#layout" hx-get="/agents/new/">New Agent</button>
      </div>
      </div>
      <div id="layout" class="row">
        {% include "agents/grid.jinja2" with context %}
      </div>
    </div>
  </div>
{% endblock %}