<form hx-post="/agents/" hx-target="#layout">
  <div class="row">
    <div class="u-full-width">
      <label for="first-name">First Name</label>
      <input class="u-full-width" name="first-name" type="text" id="first-name">
    </div>
  </div>
  <div class="row">
    <div class="u-full-width">
      <label for="last-name">Last Name</label>
      <input class="u-full-width" name="last-name" type="text" id="last-name">
    </div>
  </div>
  <div class="row">
    <div class="u-full-width">
      <label for="email">Email</label>
      <input class="u-full-width" name="email" type="email" id="email">
    </div>
  </div>
  <input class="button-primary u-pull-right" type="submit" value="Submit">
</form>