{% extends "base.jinja2" %}
{% import "base/sidebar.jinja2" as sidebar %}

{% block content %}
  <div class="row">
    <div class="three columns">
      {{ sidebar.render('') }}
    </div>
    <div class="three columns" style="background-color:#f74b3e; padding:5rem; border-radius:1.5rem">
      IN PROGRESS: {{ in_progress }}
    </div>
    <div class="three columns" style="background-color:#f7b93e; padding:5rem; border-radius:1.5rem">
      POSTPONED: {{ postponed }}
    </div>
    <div class="three columns" style="background-color:#1eaedb; padding:5rem; border-radius:1.5rem">
      RESOLVED: {{ resolved }}
    </div>
  </div>
{% endblock %}