<table class="u-full-width">
  <thead>
    <tr>
      <th>ID</th>
      <th>Address</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
    {% for item in items %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.description }}</td>
        <td>
          <button class="button">Edit</button>
          <button class="button danger" hx-delete="/addresses/1/">Delete</button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>