<form hx-post="/addresses/" hx-target="#layout">
  <div class="row">
    <div class="u-full-width">
      <label for="address">Your email</label>
      <input class="u-full-width" name="email" type="email" placeholder="email@example.com" id="address">
    </div>
  </div>
  <label for="description">Message</label>
  <textarea rows="20" class="u-full-width" name="description" placeholder="Description..." id="description"></textarea>
  <input class="button-primary u-pull-right" type="submit" value="Submit">
</form>